In [1]:
5*5

25

In [2]:
(5+10)*4

60

In [3]:
(4+5)/3

3.0

In [9]:
(12-4)/2

4.0

In [4]:
# making a list of my children at home
my_kids_at_home=['Christina','Wes','Olivia','Liam','Georgina']

In [5]:
# here they are
print(my_kids_at_home)

['Christina', 'Wes', 'Olivia', 'Liam', 'Georgina']

In [6]:
# popping one off to college (literally)
off_to_college = my_kids_at_home.pop(0)

In [7]:
# here are the ones left at home
print(my_kids_at_home)

['Wes', 'Olivia', 'Liam', 'Georgina']

In [8]:
# here's the one at ECU...
print("Sent one to college: " + off_to_college)

Sent one to college: Christina

In [11]:
# Wes' given name
my_kids_at_home[0] = 'Wesly'

In [12]:
# the names at home
print(my_kids_at_home)

['Wesly', 'Olivia', 'Liam', 'Georgina']

In [14]:
for kid in my_kids_at_home:
    print(kid)

Wesly
Olivia
Liam
Georgina

In [27]:
age_at_home = ['oldest', 'middle','younger', 'youngest']

In [28]:
for index,kid in enumerate(my_kids_at_home):
    print(kid.title() + " is now in position " + age_at_home[index])

Wesly is now in position oldest
Olivia is now in position middle
Liam is now in position younger
Georgina is now in position youngest

In [29]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
digits = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [43]:
import numpy as np
import statistics

In [45]:
print("minimum: " + str(min(digits)) )
print("maximum: " + str(max(digits)) )
print("sum: " + str(sum(digits)) )
print("mean: " + str(np.mean(digits)) )
print("median: " + str(np.median(digits)) )
print("mode: " + str(statistics.mode(digits)) )

minimum: 0
maximum: 9
sum: 50
mean: 4.545454545454546
median: 5.0
mode: 5